<!doctype html>

<html class="no-js" lang="en">
  <%= partial "head" %>
  <body class="<%= page_classes %>">

  <!-- Header and Nav -->
  <div class="full-width background--grid">
    <!-- <img src="../img/bg.png" width="100%" class="background_home" /> -->
    <div class="row">
      <div class="small-11 medium-11 large-11 small-centered columns">
        <%= partial "nav" %>
        <div class="full-width padding--tb-large">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
