<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
     <div class="logo">
        <img src="/img/logo.png"/>
      </div>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'App Development', '/app-development.html' %></li>
      <li><%= link_to 'Websites & CRM', '/web.html' %></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
    </ul>
  </section>
</nav>
    <!-- End Top Bar -->

