---
title: Welcome to The Fitting Room
---

<div class="welcome">
  <h1>Welcome to the Fitting Room!</h1>
  <ul>
<li><a href="FlatLand/">FlatLand</a></li>
<br>
<li><a href="ShopIndex/">The Main Shop</a> <a href="ShopIndex/product.htm">Products</a> <a href="ShopIndex/cart.htm">Shopping Cart</a> <a href="ShopIndex/checkout.htm">Checkout</a></li>
</ul>
</div><!-- .welcome -->