---
title: Welcome to The Fitting Room
---

<div class="welcome">
  <h1>Welcome to the Fitting Room!</h1>

  <h3>Multi-Page, Buildable Themes</h3>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>Blog</td>
    <td><a href="BlogCategory/">Main</a><br><a href="BlogCategory/index-main-alt.html">Alt</a><br><a href="BlogCategory/project-img.html">Project Images</a><br><a href="BlogCategory/single-post-full-width.html">Single Post, Full Width</a><br><a href="BlogCategory/single-post.html">Single Post</a><br><a href="BlogCategory/category.html">Category</a></td>
    </tr>
</tbody>
<br>
 <tbody>
  <tr>
    <td>Classic Gray</td>
    <td><a href="ClassicGray/">Main</a><br><a href="ClassicGray/index_blog_alt.html">Blog Alt</a><br><a href="ClassicGray/index_carousel.html">Carousel</a><br><a href="ClassicGray/index_jumbotron-narrow.html">Narrow Jumbotron</a><br><a href="ClassicGray/index_jumbotron.html">Jumbotron</a><br><a href="ClassicGray/index_justified-nav.html">Justified Navigation</a><br><a href="ClassicGray/index_justified-nav_altnav.html">Alt Justified Navigation</a><br><a href="ClassicGray/index_offcanvas.html">Off Canvas</a><br><a href="ClassicGray/index_signin.html">Sign In</a><br><a href="ClassicGray/index_signin_alt.html">Alt Sign In</a><br><a href="ClassicGray/index_simple_page.htm">Simple Index</a><br><a href="ClassicGray/index_sticky-footer-navbar.html">Navigation Footer</a><br><a href="ClassicGray/index_sticky_footer.html">Footer</a><br><a href="ClassicGray/index_stratched.htm">Carousel</a></td>
    </tr>
    <br>
  </tbody>
   <tbody>
  <tr>
    <td>Corporate Landing</td>
    <td><a href="CorporateLanding/">Main</a><br><a href="CorporateLanding/index-faqs.html">FAQs</a><br><a href="CorporateLanding/index-tabs.html">Tabs</a></td>
    </tr>
    <br>
  </tbody>
<tbody>
  <tr>
    <td>Dron Theme</td>
    <td><a href="DronTheme/">Main</a><br><a href="DronTheme/index_blog_alt.html">Blog Alt</a><br><a href="DronTheme/index_carousel.html">Carousel</a><br><a href="DronTheme/index_jumbotron-narrow.html">Narrow Jumbotron</a><br><a href="DronTheme/index_jumbotron.html">Jumbotron</a><br><a href="DronTheme/index_justified-nav.html">Justified Navigation</a><br><a href="DronTheme/index_justified-nav_altnav.html">Alt Justified Navigation</a><br><a href="DronTheme/index_offcanvas.html">Off Canvas</a><br><a href="DronTheme/index_signin.html">Sign In</a><br><a href="DronTheme/index_signin_alt.html">Alt Sign In</a><br><a href="DronTheme/index_simple_page.htm">Simple Index</a><br><a href="DronTheme/index_sticky-footer-navbar.html">Navigation Footer</a><br><a href="DronTheme/index_sticky_footer.html">Footer</a><br><a href="DronTheme/index_stratched.htm">Carousel</a>
    </td>
    </tr>
  </tbody>
  <br>
   <tbody>
   <tr>
    <td>Simply Flat</td>
    <td><a href="SimplyFlat/">Main</a><br><a href="SimplyFlat/about.html">About</a><br><a href="SimplyFlat/blog-post.html">Blog Post</a><br><a href="SimplyFlat/blog.html">Main Blog</a><br><a href="SimplyFlat/coming-soon.html">Coming Soon</a><br><a href="SimplyFlat/contact.html">Contact</a><br><a href="SimplyFlat/features">Features</a><br><a href="SimplyFlat/portfolio.html">Portfolio</a><br><a href="SimplyFlat/portfolio-item.html">Portfolio Item</a></td>
    </tr>
    <br>
  </tbody>
  <tbody>
   <tr>
    <td>White and Blue</td>
     <td><a href="WhiteBlue/">Main</a><br><a href="WhiteBlue/index_blog_alt.html">Blog Alt</a><br><a href="WhiteBlue/index_carousel.html">Carousel</a><br><a href="WhiteBlue/index_jumbotron-narrow.html">Narrow Jumbotron</a><br><a href="WhiteBlue/index_jumbotron.html">Jumbotron</a><br><a href="WhiteBlue/index_justified-nav.html">Justified Navigation</a><br><a href="WhiteBlue/index_justified-nav_altnav.html">Alt Justified Navigation</a><br><a href="WhiteBlue/index_offcanvas.html">Off Canvas</a><br><a href="WhiteBlue/index_signin.html">Sign In</a><br><a href="WhiteBlue/index_signin_alt.html">Alt Sign In</a><br><a href="WhiteBlue/index_simple_page.htm">Simple Index</a><br><a href="WhiteBlue/index_sticky-footer-navbar.html">Navigation Footer</a><br><a href="WhiteBlue/index_sticky_footer.html">Footer</a><br><a href="WhiteBlue/index_stratched.htm">Carousel</a></td>
    </tr>
    <br>
     </tbody>
   </table>

   <h3>Landing Pages</h3>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
 <tbody>
  <tr>
    <td>Bright Agency</td>
    <td><a href="BrightAgency/">Main</a></td>
    </tr>
  </tbody>
  <br>
    <tbody>
  <tr>
    <td>Dark Agency</td>
    <td><a href="DarkAgency/">Main</a></td>
    </tr>
  </tbody>
  <br>
  <td>ColorScroll</td>
    <td><a href="ColorScroll/">Color Scheme 1</a><br><a href="ColorScroll/index2.html">Color Scheme 2</a><br><a href="ColorScroll/index3.html">Color Scheme 3</a><br><a href="ColorScroll/index4.html">Color Scheme 4</a><br><a href="ColorScroll/index5.html">Color Scheme 5</a></td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>FlatLander</td>
    <td><a href="Flander/">Color Scheme 1</a><br><a href="FlanderFour/">Color Scheme 2</a><br><a href="FlanderVideo/">Video Page</a></td>
    </tr>
  </tbody>
  <tbody>
  <tr>
    <td>Flat Landing Page</td>
    <td><a href="BlueLandingPage/">Blue</a><br><a href="WhiteLandingPage/">White</a><br><a href="DarkLandingPage/">Black</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>Landing Page</td>
    <td><a href="LandingPage/">Main</a><br><a href="LandingPage/indexaltbg.html">Alternate Background</a><br><a href="LandingPage/indexvideo.html">Video</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>Parallaxer</td>
    <td><a href="Parallaxer/">Main</a></td>
    </tr>
  </tbody>
  <tbody>
   <tr>
    <td>Squeeze Pages</td>
    <td><a href="SqueezePages/">Main</a></td>
    </tr>
 </tbody>
</table>

<h3>Integratable Pieces</h3>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
 <tbody>
  <tr>
    <td>Contact Form</td>
    <td><a href="Contact/">Main</a></td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>Events</td>
    <td><a href="Events/">Main</a></td>
    </tr>
  </tbody>
  <tbody>
   <tr>
    <td>Pinboard</td>
    <td><a href="Pinboard/">Main</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>Portfolio</td>
    <td><a href="Portfolio/">Main</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>Pricing Tables</td>
    <td><a href="PricingTables/">Main</a></td>
    </tr>
  </tbody>
  <tbody>
   <tr>
    <td>Project Image</td>
    <td><a href="ProjectImage/">Main</a></td>
    </tr>
  </tbody>
  <tbody>
   <tr>
    <td>Project Video</td>
    <td><a href="ProjectVideo/">Main</a></td>
    </tr>
  </tbody>
</table>

<h3>Specific Functions</h3>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
 <tbody>
<tr>
    <td>Booking Directory</td>
    <td><a href="BookingDirectory/">Main</a><a href="BookingDirectory/index_booking_alt.html">Alt</a><br><a href="BookingDirectory/index_booking_category.html">Category</a><br><a href="BookingDirectory/index_booking_single.html">Single Page</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>News Blog</td>
    <td><a href="MainPortal/">Main</a></td>
    </tr>
  </tbody>
   <tbody>
   <tr>
    <td>The Shop</td>
    <td><a href="ShopIndex/">Main</a><br><a href="ShopIndex/product.html">Product</a><br><a href="ShopIndex/cart.html">Shopping Cart</a><br><a href="ShopIndex/checkout.html">Checkout Steps</a><br><a href="ShopIndex/checkout-base.html">Checkout</a></td>
    </tr>
  </tbody>
</table>
</div><!-- .welcome -->