---
title: Welcome to The Fitting Room
---

<div class="welcome">
  <h1>Welcome to the Fitting Room!</h1>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Links</th>
      <th>Uses</th>
      <th>Features</th>
      <th>Comments</th>
    </tr>
  </thead>
   <tbody>
  <tr>
    <td>BrightAgency</td>
    <td><a href="BrightAgency/">Main</a></td>
    <td>Simple Sites</td>
    <td>Contact Form</td>
    <td>Simple Downscroll</td>
    </tr>
  </tbody>
  	<tbody>
  <tr>
    <td>DarkAgency</td>
    <td><a href="DarkAgency/">Main</a></td>
    <td>Simple Sites</td>
    <td>Contact Form</td>
    <td>Simple Downscroll</td>
    </tr>
  </tbody>
  <tbody>
  <tr>
    <td>Blog Article</td>
    <td><a href="BlogArticle/">Main</a></td>
    <td>Blogs</td>
    <td>Search Function<br>Contact Form<br>User Comments<br>Tags</td>
    <td>Can Be Used with Other Blog Templates</td>
    </tr>
  </tbody>
    <tbody>
  <tr>
    <td>Blog</td>
    <td><a href="BlogCategory/">Main</a><br><a href="BlogCategory/index-main-alt.html">Alt</a><br><a href="BlogCategory/project-img.html">Project Images</a><br><a href="BlogCategory/single-post-full-width.html">Single Post, Full Width</a><br><a href="BlogCategory/single-post.html">Single Post</a><br><a href="BlogCategory/category.html">Category</a></td>
    <td>Blogs</td>
    <td>Search<br>Video<br>User Comments<br>Tags</td>
    <td>Lots of Features</td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>Blue Landing Page</td>
    <td><a href="BlueLandingPage/">Main</a></td>
    <td>Landing Page<br>Small Biz</td>
    <td>carousel<br>pricing plan</td>
    <td>Dark Landing and White Landing are the same with a different color scheme</td>
    </tr>
  </tbody>
    <tbody>
  <tr>
    <td>Booking Directory</td>
    <td><a href="BookingDirectory/">Main</a><a href="BookingDirectory/index_booking_alt.html">Alt</a><br><a href="BookingDirectory/index_booking_category.html">Category</a><br><a href="BookingDirectory/index_booking_single.html">Single Page</a></td>
    <td>Travel<br>Small Biz</td>
    <td>carousel<br>multi-page</td>
    <td>Who is the audience?</td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>Bootscroller</td>
    <td><a href="Bootscroller/">Main</a></td>
    <td>Landing Page<br>Small Biz<br>Simple Site</td>
    <td>flatscroll</td>
    <td>fairly boring</td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>Business Information</td>
    <td><a href="BusinessInfo/">Main</a></td>
    <td>Small Biz<br>Simple Site</td>
    <td>two "frames"</td>
    <td>Sideframe is confusing. I'm not sure of the page purpose</td>
    </tr>
  </tbody>
   <tbody>
  <tr>
    <td>Classic Gray</td>
    <td><a href="ClassicGray/">Main</a><br><a href="ClassicGray/index_blog_alt.html">Blog Alt</a><br><a href="ClassicGray/index_carousel.html">Carousel</a><br><a href="ClassicGray/index_jumbotron-narrow.html">Narrow Jumbotron</a><br><a href="ClassicGray/index_jumbotron.html">Jumbotron</a><br><a href="ClassicGray/index_justified-nav.html">Justified Navigation</a><br><a href="ClassicGray/index_justified-nav_altnav.html">Alt Justified Navigation</a><br><a href="ClassicGray/index_offcanvas.html">Off Canvas</a><br><a href="ClassicGray/index_signin.html">Sign In</a><br><a href="ClassicGray/index_signin_alt.html">Alt Sign In</a><br><a href="ClassicGray/index_simple_page.htm">Simple Index</a><br><a href="ClassicGray/index_sticky-footer-navbar.html">Navigation Footer</a><br><a href="ClassicGray/index_sticky_footer.html">Footer</a><br><a href="ClassicGray/index_stratched.htm">Carousel</a></td>
    <td>Dynamic<br>Multi-purpose</td>
    <td>many choices</td>
    <td>DronTheme and ? are different color schemes of this.</td>
    </tr>
  </tbody>
  <tbody>
  <tr>
    <td>FlatLand</td>
    <td><a href="FlatLand/">Main</a></td>
    <td>Landing page</td>
    <td>Mailing list signup</td>
    <td>Pretty simple</td>
    </tr>
  </tbody>

</table>
</div><!-- .welcome -->